:host {
  background: repeat url("../../assets/image/backgrounds/img-noise-100x100.png");
}

ion-tab-bar {
  height: 55px;
  border-radius: 25px 25px 0 0;
  background: var(--background-color-1);
  border: 0;

  ion-tab-button {

    ion-icon {
      width: 25px;
      height: 25px;
      color: var(--color-gray-1);
    }

    ion-label {
      font-size: 12px;
      color: var(--color-gray-1);
    }
  }

  ion-tab-button.tab-selected {

    ion-icon {
      color: var(--button-content-color-1);
    }

    ion-label {
      color: var(--button-content-color-1);
    }
  }
}
