ion-content {
  overflow: hidden;
  --padding-start: 25px;
  --padding-end: 25px;

  .period-select {
    display: block;
    margin-bottom: 12px;

    .row-radio {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;
      border-radius: 20px;
      padding: 3px;
      background-color: var(--background-color-1);

      .item-radio {
        text-align: center;
        height: 34px;
        width: calc( 100% / 3 );
        border-radius: 17px;
        color: var(--text-color-gray);
        --padding-start: 0;
        --padding-end: 0;
        --inner-padding-end: 0;
        --color-activated: var(--text-color-special-dark);
        --color-focused: var(--text-color-special-dark);
        --color-hover: var(--text-color-special-dark);

        &.item-radio-checked {
          background-color: var(--accent-color-1);
          color: var(--text-color-special-dark);
        }

        .title-radio {
          height: 34px;
          margin: 4px 0 0;
        }

        .icon-radio {
          width: 0;
          overflow: hidden;
          height: 34px;
          margin: 0;
          --color: transparent;
          --color-checked: transparent;
        }
      }
    }
  }


  .doughnut-chart {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 276px;

    &:after {
      content: '';
      display: block;
      width: 100%;
      min-height: 4px;
      border-radius: 2px;
      background-color: var(--background-color-3);
    }

    .chart {
      width: 250px !important;
      height: 250px !important;
      margin-bottom: 22px;
    }

    .sum-select {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .sum {
        font-size: 22px;
      }

      .select {
        color: var(--text-color-gray);

        p {
          height: 38px;
          padding: 10px 0;
          margin: 0;
        }
      }
    }
  }

  ion-accordion-group {
    max-height: calc( 100% - 329px );
    overflow: scroll;
    padding-top: 20px;

    &::-webkit-scrollbar {
      display: none;
    }

    .no-data-message {
      text-align: center;
      color: var(--text-color-gray);
      font-size: 18px;
    }

    ion-accordion {
      background: transparent;
      margin-bottom: 10px;

      ion-item {

        &::part(native) {
          background: var(--background-color-1);
          border-radius: 28px;
          padding-left: 12px;
          border: 0;
        }

        ion-row {
          height: 56px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-right: 12px;

          div {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            .icon-wrapper {
              height: 38px;
              width: 38px;
              border-radius: 22px;
              padding-left: 6px;

              ion-icon {
                height: 26px;
                width: 26px;
                color: var(--spending-icon-color);
              }
            }

            ion-label {
              max-width: 140px;
              max-height: 52px;
              color: var(--text-color-white);
            }
          }
        }
      }

      ion-list {
        padding: 0 10px;

        div {
          height: 42px;
          padding: 5px 20px;
          border-radius: 21px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background: var(--background-color-5);

          &:not(:last-child) {
            margin-bottom: 5px;
          }

          &:first-child {
            margin-top: 5px;
          }

          ion-label {
            max-width: calc( 100% - 130px);

            p {
              margin: 0;
              font-size: 14px;
            }

            .spending-description {
              max-height: 16px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }

          .spending-amount {
            max-width: 125px;
            font-size: 16px;
          }
        }
      }
    }
  }
}
