<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'statistics.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="spendingByCategoriesList$ | async as categories" scroll-y="false">
  <ion-row>
    <ion-radio-group [value]="statisticsPeriod">
      <div id="currentMonth" (click)="changeStatisticsPeriod($event)">
        <ion-radio slot="end" value="currentMonth"></ion-radio>
        <ion-label>{{ 'statistics.currentMonth' | translate }}</ion-label>
      </div>
      <div id="selectPeriod" (click)="changeStatisticsPeriod($event)">
        <ion-radio slot="end" value="selectPeriod"></ion-radio>
        <ion-label>{{ 'statistics.selectPeriod' | translate }}</ion-label>
      </div>
    </ion-radio-group>
  </ion-row>

  <ion-list *ngIf="statisticsPeriod === 'selectPeriod'">
    <ion-item>
      <p class="date-select-prefix">{{ 'statistics.fromDate' | translate }}</p>
      <p class="date-select-suffix" (click)="selectDate('startDate')">{{ startDate || 'statistics.choosePlaceholder' | translate }}</p>
    </ion-item>
    <ion-item>
      <p class="date-select-prefix">{{ 'statistics.toDate' | translate }}</p>
      <p class="date-select-suffix" (click)="selectDate('endDate')">{{ endDate || 'statistics.choosePlaceholder' | translate }}</p>
    </ion-item>
  </ion-list>

  <ion-accordion-group>
    <ion-accordion *ngFor="let category of categories; index as i" [value]=i>

      <ion-item slot="header" color="light">
        <ion-row>
          <div>
            <div class="icon-wrapper" [style.background-color]="category.icon.background">
              <ion-icon slot="icon-only" [name]="category.icon.iconType"></ion-icon>
            </div>
            <ion-label>{{ category.name }}</ion-label>
          </div>
          <ion-label>{{ currency$ | async }} {{ category.totalAmount | mrMoneyFormat }}</ion-label>
        </ion-row>
      </ion-item>

      <ion-list slot="content">
        <div *ngFor="let item of category.spendingList" [class.ion-page-hidden]="item.categoryId !== category.id">
          <ion-label>
            <p *ngIf="item.description" class="spending-description">{{ item.description }}</p>
            <p class="spending-date">{{ item.date | date: 'MMM d, HH:mm' }}</p>
          </ion-label>
          <ion-label class="spending-amount">{{ currency$ | async }} {{ item.amount | mrMoneyFormat }}</ion-label>
        </div>
      </ion-list>

    </ion-accordion>
  </ion-accordion-group>
</ion-content>
