ion-content {
  overflow: hidden;
  --padding-start: 25px;
  --padding-end: 25px;

  .period-select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    padding: 3px;
    background-color: var(--background-color-1);
    border-radius: 20px;
    margin-bottom: 12px;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      color: var(--text-color-gray);

      &.checked {
        color: var(--text-color-special-dark);
        background-color: var(--accent-color-1);
        border-radius: 17px;
      }
    }
  }

  .doughnut-chart {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 22px;

    canvas {
      max-width: 200px;
      max-height: 200px;
    }
  }

  ion-accordion-group {
    max-height: calc( 100% - 52px );
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    ion-accordion {
      background: transparent;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      ion-item {
        border-radius: 28px;
        --ion-color-base: var(--background-color-1) !important;

        &::part(native) {
          padding-left: 12px;
          border: 0;
        }

        ion-row {
          height: 56px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-right: 12px;

          div {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            .icon-wrapper {
              height: 38px;
              width: 38px;
              border-radius: 22px;
              padding-left: 6px;

              ion-icon {
                height: 26px;
                width: 26px;
                color: var(--spending-icon-color);
              }
            }

            ion-label {
              max-width: 140px;
              max-height: 52px;
              color: var(--text-color-white);
            }
          }
        }
      }

      ion-list {
        padding: 0 10px;

        div {
          height: 42px;
          padding: 5px 20px;
          border-radius: 21px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background: var(--background-color-5);

          &:not(:last-child) {
            margin-bottom: 5px;
          }

          &:first-child {
            margin-top: 5px;
          }

          ion-label {
            max-width: calc( 100% - 130px);

            p {
              margin: 0;
              font-size: 14px;
            }

            .spending-description {
              max-height: 16px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }

          .spending-amount {
            max-width: 125px;
            font-size: 16px;
          }
        }
      }
    }
  }
}
