<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'statistics.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="spendingByCategoriesList$ | async as categories" scroll-y="false">

  <ng-container [formGroup]="formGroup">
    <ion-radio-group formControlName="periodRange" class="period-select">
      <ion-row class="row-radio">
        <ion-item *ngFor="let period of periods" lines="none" class="item-radio">
          <ion-label class="title-radio">{{ 'general.dates.' + period | translate }}</ion-label>
          <ion-radio slot="end" [value]="period" class="icon-radio"></ion-radio>
        </ion-item>
      </ion-row>
    </ion-radio-group>
  </ng-container>

  <div class="doughnut-chart">
    <canvas baseChart
            class="chart"
            [data]="generateDoughnutChartData(categories)"
            [type]="'doughnut'"
            [options]="{ cutout: '80%', animation: false }"
    >
    </canvas>

    <div class="sum-select">
      <div class="sum">
        <span *ngIf="categoryAmount$">{{ currency$ | async }} {{ categoryAmount$ | async | number: '.2' }} /&nbsp;</span>
        <span [ngClass]="{ 'small-digits': categoryAmount$ }">{{ currency$ | async }} {{ (totalAmount$ | async) | number: '.2' }}</span>
        
      </div>

      <div class="select" [formGroup]="formGroup">
        <p *ngIf="selectedPeriod === ViewPeriod.Week">{{ 'statistics.currentWeek' | translate }}</p>

        <ion-select
          *ngIf="selectedPeriod === ViewPeriod.Month"
          interface="popover"
          formControlName="monthControl"
        >
          <ion-select-option *ngFor="let item of availableMonthsInCurrentYear" [value]="item">
            {{ 'general.months.' + item | translate }}
          </ion-select-option>
        </ion-select>

        <ion-select
          *ngIf="selectedPeriod === ViewPeriod.Year"
          interface="popover"
          formControlName="yearControl"
        >
          <ion-select-option *ngFor="let item of availableYears" [value]="item">{{ item }}</ion-select-option>
        </ion-select>
      </div>
    </div>
  </div>

  <ion-accordion-group>
    <p *ngIf="!categories.length" class="no-data-message">{{ 'general.messages.noData' | translate }}</p>

    <ion-accordion *ngFor="let category of categories; index as i" [value]=i>

      <ion-item (click)="onCategorySelect(category)" slot="header" color="light">
        <ion-row>
          <div>
            <app-icon [iconName]="category.icon.iconType" [backgroundColor]="category.icon.background"></app-icon>

            <ion-label>{{ category.name }}</ion-label>
          </div>

          <ion-label>{{ currency$ | async }} {{ category.totalAmount | mrMoneyFormat }}</ion-label>
        </ion-row>
      </ion-item>

      <ion-list *ngIf="categoryList$ | async as categoryList" slot="content">
        <div
          *ngFor="let item of category.spendingList"
          [class.ion-page-hidden]="item.categoryId !== category.id"
          (click)="spendingService.spendingClickActionsModal(item, categoryList)"
        >
          <ion-label>
            <p *ngIf="item.description" class="spending-description">{{ item.description }}</p>

            <p class="spending-date">{{ moment.utc(item.date).local().format(DateFormatEnum.MMM__D__HH_mm) }}</p>
          </ion-label>

          <ion-label class="spending-amount">{{ currency$ | async }} {{ item.amount | mrMoneyFormat }}</ion-label>
        </div>
      </ion-list>

    </ion-accordion>
  </ion-accordion-group>
</ion-content>
