ion-content {
  --background: var(--page-background);

  .main-wrapper {
    padding: 0 15px;

    h1 {
      font-size: 36px;
      font-weight: 600;
      margin: 30px 0 25px;
    }

    .add-spending {
      display: flex;
      gap: 15px;

      ion-input {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        --background: var(--background-color-1);
        --padding-start: 15px;
        --padding-end: 15px;
      }

      ion-button {
        width: 40px;
        height: 40px;
        margin: 0;
        --border-radius: 20px;
        --background: var(--background-color-1);
        --padding-start: 5px;
        --padding-end: 5px;

        ion-icon {
          width: 30px;
          height: 30px;
          color: var(--button-content-color-1);
        }
      }
    }

    .bank-transactions-list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 10px;
      background-color: transparent;
    }

    .spending-list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      background-color: transparent;

      .date-delimiter {
        font-size: 14px;
        margin: 0 5px;
        color: var(--ion-color-medium-shade);
        align-self: center;
      }
    }
  }
}
