<ion-header>
  <ion-toolbar>
    <ion-row class="data-btn-container">
      <span class="date-time">{{ currentTime }}</span>
      <ion-row  class="btn-container">
        <ion-button (click)="navigateToStatisticsPage()">
          <ion-icon slot="icon-only" name="stats-chart-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="openSpendingBasketModal()">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-row>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scroll-y="false" class="transaction-spending-list">
  <div class="fixed">
    <h1 size="large" class="ion-text-center">
      {{ currency$ | async }}
      {{ (totalAmount$ | async) | number: '.2' }}
      <span>({{ ('general.dates.month' | translate).toLowerCase() }})</span>
    </h1>

    <ion-row class="add-spending" [formGroup]="formGroup">
      <ion-input
        formControlName="amount"
        maxlength="15"
        type="tel"
        mrCurrencyMask
        [placeholder]="(currency$ | async) + '  0.00'"
      ></ion-input>
      <ion-button
        [disabled]="!this.formGroup.value.amount"
        (click)="addSpending(actionsEnum.Add)"
      >
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-row>

    <ion-row class="update-all-button ion-justify-content-center">
      <ion-button fill="clear" (click)="spendingService.updateHomePage()">
        <ion-icon size="large" name="refresh-circle-outline"></ion-icon>
      </ion-button>
    </ion-row>

    <ion-row class="title-block">
      <p class="spending-title">{{ 'home.mySpending' | translate }}</p>

      <div class="action-block">
        <p *ngIf="!isSelectionActive" (click)="isSelectionActive = true" class="selection-action">
          {{ 'general.actions.select' | translate }}
        </p>

        <p *ngIf="isSelectionActive" (click)="isSelectionActive = false; selectedSpending = []" class="selection-action active">
          {{ 'general.actions.cancel' | translate }}
        </p>

        <ion-button
          *ngIf="isSelectionActive"
          (click)="mergeTransactions(selectedSpending)"
          [disabled]="selectedSpending.length < 2"
        >
          <ion-icon slot="icon-only" name="git-network-outline" [class.active]="selectedSpending.length > 1"></ion-icon>
        </ion-button>

        <ion-button
          *ngIf="isSelectionActive"
          (click)="confirmTransactionRemove(selectedSpending, true)"
          [disabled]="!selectedSpending.length"
        >
          <ion-icon slot="icon-only" name="trash-outline" [class.active]="selectedSpending.length"></ion-icon>
        </ion-button>
      </div>
    </ion-row>
  </div>

  <ion-content class="scroll">
    <ion-list *ngIf="pendingSpendingList$ | async as pendingSpendingList" class="bank-transactions-list">
      <p *ngIf="pendingSpendingList.length" class="bank-transactions-title">{{ 'home.newTransactions' | translate }}</p>
      <app-spending-list-item
        *ngFor="let item of pendingSpendingList"
        [currency]="currency$ | async"
        [spending]="item"
        [type]="listItemTypeEnum.bankTransaction"
        [selected]="selectedSpending.includes(item.id)"
        (click)="
          $event.stopPropagation();
          isSelectionActive ? selectionClick(item.id) : transactionClickActionsModal(item)
        "
      >
      </app-spending-list-item>
    </ion-list>

    <ion-list
      *ngIf="groupedSpendingList$ | async as groupedSpendingList"
      [style.margin-top]="fullPendingSpendingList.length ? 'unset' : '10px'"
      class="spending-list"
    >
      <div *ngFor="let spendingList of groupedSpendingList" class="spending-list">
        <p class="date-delimiter">{{ spendingList.title | MrSpendingListDateFormatPipe }}</p>
        <app-spending-list-item
          *ngFor="let item of spendingList.children"
          [currency]="currency$ | async"
          [spending]="item"
          [type]="listItemTypeEnum.spending"
          [selected]="selectedSpending.includes(item.id)"
          (click)="
            $event.stopPropagation();
            isSelectionActive ? selectionClick(item.id) : spendingService.spendingClickActionsModal(item, categories)
          "
        >
        </app-spending-list-item>
      </div>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="loadMoreData($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
</ion-content>
