<ion-header>
  <ion-toolbar>
    <ion-row class="data-btn-container">
      <span class="date-time">{{ currentTime }}</span>
      <ion-row  class="btn-container">
        <ion-button (click)="navigateToStatisticsPage()">
          <ion-icon slot="icon-only" name="stats-chart-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="openSpendingBasketModal()">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-row>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" (click)="cleanSelectedItems()" scroll-y="false" class="transaction-spending-list">
  <div class="fixed">
    <h1 size="large" class="ion-text-center">
      {{ currency$ | async }}
      {{ (totalAmount$ | async) | number: '.2' }}
    </h1>

    <ion-row class="add-spending" [formGroup]="formGroup">
      <ion-input
        formControlName="amount"
        maxlength="15"
        type="tel"
        mrCurrencyMask
        [placeholder]="(currency$ | async) + '  0.00'"
      ></ion-input>
      <ion-button
        [disabled]="!this.formGroup.value.amount"
        (click)="addSpending(actionsEnum.Add)"
      >
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-row>

    <ion-row class="update-all-button ion-justify-content-center">
      <ion-button fill="clear" (click)="spendingService.updateSpendingList()">
        <ion-icon size="large" name="refresh-circle-outline"></ion-icon>
      </ion-button>
    </ion-row>

    <p class="spending-title">{{ 'home.mySpending' | translate }}</p>
  </div>

  <div class="scroll">
    <ion-list *ngIf="pendingSpendingList$ | async as pendingSpendingList" class="bank-transactions-list">
      <p *ngIf="pendingSpendingList.length" class="bank-transactions-title">{{ 'home.newTransactions' | translate }}</p>
      <app-spending-list-item
        *ngFor="let item of pendingSpendingList"
        [currency]="currency$ | async"
        [spending]="item"
        [type]="listItemTypeEnum.bankTransaction"
        [selected]="selectedSpending.selectList.includes(item.id)"
        (click)="$event.stopPropagation(); transactionClickActionsModal(item)"
        (touchstart)="onButtonPress(item.id, 'transaction')"
        (touchend)="onButtonRelease()"
      >
      </app-spending-list-item>
    </ion-list>

    <ion-list *ngIf="groupedSpendingList$ | async as groupedSpendingList" class="spending-list">
      <div *ngFor="let spendingList of groupedSpendingList" class="spending-list">
        <p class="date-delimiter">{{ spendingList.title | MrSpendingListDateFormatPipe }}</p>
        <app-spending-list-item
          *ngFor="let item of spendingList.children"
          [currency]="currency$ | async"
          [spending]="item"
          [type]="listItemTypeEnum.spending"
          [selected]="selectedSpending.selectList.includes(item.id)"
          (click)="$event.stopPropagation(); spendingService.spendingClickActionsModal(item, categories)"
          (touchstart)="onButtonPress(item.id, 'spending')"
          (touchend)="onButtonRelease()"
        >
        </app-spending-list-item>
      </div>
    </ion-list>
  </div>
</ion-content>
