ion-header {

  ion-toolbar {
    --background: transparent;

    .data-btn-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 25px;
      height: 55px;

      .date-time {
        color: var(--ion-color-medium-shade);
      }

      .btn-container {
        gap: 10px;

        ion-button {
          width: 25px;
          height: 25px;
          margin: 0;
          --border-radius: 0;
          --padding-start: 0;
          --padding-end: 0;
          --background-activated: none;
          --background-focused: none;
          --background-hover: none;
          --ripple-color: transparent;

          ion-icon {
            width: 25px;
            height: 25px;
            color: var(--button-content-color-1);
          }
        }
      }
    }
  }
}

ion-content {
  overflow: hidden;
  --padding-start: 25px;
  --padding-end: 25px;

  .fixed {

    h1 {
      position: relative;
      font-size: 36px;
      font-weight: 600;
      margin: 0 0 25px;

      span {
        position: absolute;
        bottom: -16px;
        left: calc(50% - 40px);
        width: 80px;
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: var(--ion-color-medium-shade);
      }
    }

    .add-spending {
      display: flex;
      justify-content: center;
      gap: 15px;

      ion-input {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        --background: var(--background-color-1);
        --padding-start: 15px;
        --padding-end: 15px;
      }

      ion-button {
        width: 60px;
        height: 60px;
        margin: 0;
        --border-radius: 30px;
        --background: var(--background-color-1);
        --padding-start: 5px;
        --padding-end: 5px;

        ion-icon {
          width: 30px;
          height: 30px;
          color: var(--button-content-color-1);
        }
      }
    }

    .update-all-button {
      padding: 10px 0 0;

      ion-button {
        width: 40px;
        height: 40px;
        margin: 0;

        ion-icon {
          min-width: 40px;
          min-height: 40px;
          color: var(--button-content-color-1);
        }
      }
    }

    .title-block {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .spending-title {
        font-size: 24px;
        margin: 15px 0;
      }

      .action-block {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25px;

        .selection-action {
          border: 1px solid var(--button-content-color-1);
          border-radius: 15px;
          color: var(--button-content-color-1);
          margin: 16px 0 12px;
          padding: 6px 10px 4px;
        }

        .selection-action.active {
          color: var(--text-color-special-dark);
          background-color: var(--button-content-color-1);
        }

        ion-button {
          width: 25px;
          height: 25px;
          margin: 0;
          --border-radius: 0;
          --padding-start: 0;
          --padding-end: 0;
          --background-activated: none;
          --background-focused: none;
          --background-hover: none;
          --ripple-color: transparent;

          ion-icon {
            width: 25px;
            height: 25px;
          }

          ion-icon:disabled {
            color: var(--color-gray-2);
          }

          ion-icon.active {
            color: var(--button-content-color-1);
          }
        }
      }
    }
  }

  // .fixed:after {
  //   content: '';
  //   display: block;
  //   top: -4px;
  //   width: 100%;
  //   height: 4px;
  //   border-radius: 2px;
  //   background-color: var(--background-color-3);
  // }

  .scroll {
    width: calc(100% + 35px);
    height: calc(100% - 221px);
    overflow-y: scroll;

    &::part(scroll) {
      padding: 0 35px 0 0;
    }

    .bank-transactions-list {
      display: flex;
      flex-direction: column;
      background-color: transparent;
      padding: 0;

      .bank-transactions-title {
        font-size: 14px;;
        color: var(--ion-color-danger-tint);
        align-self: center;
        margin: 10px 0;
      }

      app-spending-list-item {
        margin-bottom: 10px;
      }
    }

    .spending-list {
      display: flex;
      flex-direction: column;
      background-color: transparent;
      padding: 0;

      .date-delimiter {
        font-size: 14px;
        color: var(--ion-color-medium-shade);
        align-self: center;
        margin: 0 0 10px;
        position: sticky;
      }

      app-spending-list-item {
        margin-bottom: 10px;
      }
    }

    ion-infinite-scroll {
      max-height: 1px;
      overflow: hidden;
    }

    .refresh{
      width: calc(95%);
      display: flex;
    }
  }
}
