<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="danger" (click)="cancel()">{{ 'general.actions.cancel' | translate }}</ion-button>
    </ion-buttons>
    <ion-title>{{ 'editSpendingModal.title' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [disabled]="!formGroup?.valid">{{ 'general.actions.confirm' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="formGroup" class="ion-padding">
  <ion-list [formGroup]="formGroup">
    <ion-item>
      <ion-label>{{ 'editSpendingModal.amount' | translate }}</ion-label>
      <ion-input
        class="ion-text-right"
        formControlName="amount"
        maxlength="15"
        type="tel"
        mrCurrencyMask
        [placeholder]="(currency$ | async) + '0.00'"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="select-label">{{ 'editSpendingModal.category' | translate }}</ion-label>
      <ion-select
        class="select-selector"
        interface="popover"
        [placeholder]="'editSpendingModal.selectCategoryPlaceholder' | translate"
        name="category"
        formControlName="category"
        [selectedText]="formGroup.value.category.name"
      >
        <ion-select-option *ngFor="let category of categories" [value]="category">{{ category.name }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'editSpendingModal.description' | translate }}</ion-label>
      <ion-input
        formControlName="description"
        [placeholder]="'editSpendingModal.descriptionPlaceholder' | translate"
      ></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
