:host {
    background: var(--page-background);
}

ion-header {
    ion-title {
        padding-bottom: 15px;
    }
}

ion-content {          
    p {
        white-space: break-spaces;
    }     
}

.policy-checkbox {
    margin: 0 15px;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
}