:host {
    background: var(--page-background);
}

ion-header {
    ion-title {
        padding-bottom: 15px;
    }

    .main-title {
      text-overflow: inherit;
      white-space: normal;
    }
}

ion-content {
    p {
        white-space: break-spaces;
    }
}

.policy-checkbox {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
}
