:host {
    background: var(--page-background);
}

ion-header {
    ion-title {
      padding-left: 6px;
      width: max-content;
      padding-right: 0;
    }

    .main-title {
      text-overflow: inherit;
      white-space: normal;
    }
}

ion-content {
    p {
        white-space: break-spaces;
    }
}

.footer {
  padding: 6px 16px 12px 16px;

  .policy-checkbox {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
    align-items: center;

    ion-checkbox {
      min-height: 26px;
      min-width: 26px;
    }
  }
}
