.icon-wrapper {
  display: inline-block;
  height: 38px;
  width: 38px;
  border-radius: 22px;
  padding: 6px;

  ion-icon {
    height: 26px;
    width: 26px;
  }

  &.large {
    height: 70px;
    width: 70px;
    border-radius: 35px;
    padding: 10px;

    ion-icon {
      height: 50px;
      width: 50px;
    }
  }
}
