<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-label color="primary">{{ 'general.actions.back' | translate }}</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'categoryManagementModal.categoryManagement' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" scroll-y="false">
  <ion-item 
    [button]="true" 
    detail="false" 
    mode="ios" 
    (click)="editCategory(actionsEnum.Add)" 
    class="add-category">
    <ion-label>{{ 'categoryManagementModal.addCategory' | translate }}</ion-label>
    <ion-icon name="add"></ion-icon>
  </ion-item>

  <!-- <div class="page-delimiter"></div> -->

  <ion-list *ngIf="categoryList$ | async as categoryList" class="category-list">
    <div *ngFor="let category of categoryList" class="category-item">
      <div class="category-desc">
        <app-icon [iconName]="category.icon.iconType" [backgroundColor]="category.icon.background"></app-icon>
        <ion-label>{{ category.name }}</ion-label>
      </div>
      <div class="category-commands">
        <div (click)="editCategory(actionsEnum.Edit, category)" class="category-commands-edit">
          <ion-icon name="build"></ion-icon>
        </div>
        <div
          *ngIf="!category.isBase"
          (click)="deleteCategory(category.id)"
          class="category-commands-delete"
        >
          <ion-icon color="danger" name="trash"></ion-icon>
        </div>
      </div>
    </div>
  </ion-list>
</ion-content>
