:host {
  background: var(--page-background);
}

ion-header {

  ion-title {
    width: max-content;
    padding-left: calc( 50% - 85px);
  }

  ion-title.md {
    padding-left: calc( 50% - 140px);
  }
}

ion-content {

  .add-category{
    --background: var(--background-color-1);
    --border-radius: 10px;
    margin-bottom: 10px;
  }

  .category-add {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-direction: row;
    height: 40px;
    width: fit-content;
    margin: 0 auto 20px;
    padding: 0 8px 0 12px;
    border-radius: 20px;
    background: var(--background-color-1);

    ion-label {
      color: var(--button-content-color-1);
    }

    ion-icon {
      width: 22px;
      height: 22px;
      color: var(--button-content-color-1);
    }
  }

  .page-delimiter {
    display: block;
    top: -4px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--background-color-3);
  }

  .category-list {
    height: calc( 100% - 48px );
    overflow-y: scroll;
    padding: 10px 0 0;

    &::-webkit-scrollbar {
      display: none;
    }

    .category-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 56px;
      background: var(--background-color-1);
      border-radius: 28px;
      border: 0;
      padding: 0 12px;
      margin-bottom: 10px;

      .category-desc {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
      }

      .category-commands {
        display: flex;
        flex-direction: row;
        gap: 10px;

        div {
          width: 38px;
          height: 38px;
          padding: 8px;
          border-radius: 50%;
          background: var(--background-color-6);

          ion-icon {
            width: 22px;
            height: 22px;
          }
        }
      }
    }
  }
}
