.main-wrapper {
  height: 60px;
  width: 100%;
  border-radius: 30px;
  background-color: var(--background-color-1);

  & ion-row {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;

    & div {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;

      & .icon-wrapper {
        height: 44px;
        width: 44px;
        border-radius: 22px;
        padding-left: 6px;

        & ion-icon {
          height: 32px;
          width: 32px;
          color: var(--spending-icon-color);
        }
      }
    }

    & .text-new p {
      color: var(--ion-color-danger-shade);
      font-size: 18px;
      font-weight: 600;
    }
  }
}
