<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="danger" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Select date</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [disabled]="">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="false">
  <ion-datetime
    locale="en-GB"
    presentation="month-year"
    (ionChange)="selectChange($event)"
    [max]="startValue"
  ></ion-datetime>
</ion-content>
