<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
    <ion-button (click)="signOut()">Sign Out</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [formGroup]="spendingFormGroup">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-input formControlName="amount">amount</ion-input>
  <ion-input formControlName="category">category</ion-input>
  <ion-button [disabled]="spendingFormGroup.invalid" (click)="addSpending()">add spending</ion-button>
  <ion-button (click)="getSpending()">get spending</ion-button>
  <ion-button (click)="test()">test</ion-button>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
