:host {
  background: var(--background-color-2);
}

ion-content {
  height: 100%;
}

.card {
  position: relative;
  width: 250px;
  height: 160px;
  border: 5px solid;
  border-radius: 20px;
  background: white;
  margin: auto;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &-checked-marker {
    position: absolute;
    top: -3px;
    left: 0;
    width: 20px;
    height: 20px;
    padding: 1px 2px 3px;
    background-color: green;
    border-radius: 10px 0 10px 0;

    ion-icon {
      width: 16px;
      height: 16px;
    }
  }

  &-number {
    width: 240px;
    height: 40px;
    background: black;
    color: white;
    margin: 20px 0 22px;
    padding: 12px;
    text-align: center;
  }

  &-currency {
    color: black;
    margin: 12px 20px;
  }

  &-type {
    color: black;
    margin: 12px 20px;
  }
}
