<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="ion-padding ion-margin-vertical">
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">
        {{ currency }}
        {{ totalPerMonth }}
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [formGroup]="formGroup">
    <ion-list class="ion-margin-vertical">
      <ion-item>
        <ion-label>{{ 'createSpending.amountLabel' | translate }}</ion-label>
        <ion-input
          formControlName="amount"
          [placeholder]="'createSpending.amountPlaceholder' | translate"
          type="number"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'createSpending.category' | translate }}</ion-label>
        <ion-input
          formControlName="category"
          [placeholder]="'createSpending.categoryPlaceholder' | translate"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'createSpending.description' | translate }}</ion-label>
        <ion-input
          formControlName="description"
          [placeholder]="'createSpending.descriptionPlaceholder' | translate"
        ></ion-input>
      </ion-item>
    </ion-list>

    <ion-row class="ion-padding ion-justify-content-center">
      <ion-button
        shape="round"
        fill="solid"
        [disabled]="formGroup.invalid"
        (click)="addSpending()"
      >
        {{ 'createSpending.addSpending' | translate }}
      </ion-button>
    </ion-row>
  </ion-content>
</ion-content>
