:host {
  background: var(--background-color-1);
}

ion-input {
  text-align: end;
}

.category-add {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background: var(--background-color-1);
  z-index: 2;

  ion-icon {
    width: 24px;
    height: 24px;
    color: var(--button-content-color-1);
  }
}
ion-icon{
  color: var(--button-content-color-1);
}
.categories{
  ion-item{
    --border-style:none;
  }
  .picked{
    --background-color: red;
  }
}

