<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="danger" (click)="cancel()">{{ 'general.actions.cancel' | translate }}</ion-button>
    </ion-buttons>
    <ion-title *ngIf="type !== actionsEnum.Add; else add">{{ 'editSpendingModal.titleEdit' | translate }}</ion-title>
    <ng-template #add>
      <ion-title >{{ 'editSpendingModal.titleAdd' | translate }}</ion-title>
    </ng-template>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [disabled]="!formGroup?.valid">{{ 'general.actions.confirm' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="formGroup" class="ion-padding">
  <ion-list [formGroup]="formGroup">
    <ion-item class="amount-item ion-padding" lines="none">
      <input
        class="amount-input"
        formControlName="amount"
        maxlength="15"
        type="number"
        min="0"
        [placeholder]="(currency$ | async) + '0'"
        #inputElement
      >
      
    </ion-item>

    <ion-item>
      <ion-label>{{ 'editSpendingModal.description' | translate }}</ion-label>
      <ion-input
        formControlName="description"
        [placeholder]="'editSpendingModal.descriptionPlaceholder' | translate"
      ></ion-input>
    </ion-item>

    <ion-item detail="false" [button]="true" (click)="addCategory()">
      <ion-label >
        {{ 'editSpendingModal.createCategory' | translate }}
      </ion-label>
        <ion-icon name="add"></ion-icon>
    </ion-item>

    <ion-radio-group class="categories" value="strawberries" formControlName="category">
      <ion-item  
        *ngFor="let category of categories" 
        [button]="true" 
        (click)="selectCategory(category)" 
        detail="false">
        <app-icon 
          slot="start" 
          [iconName]="category.icon.iconType" 
          [backgroundColor]="category.icon.background">
        </app-icon>
        <ion-label>{{category.name}}</ion-label>
        <ion-icon *ngIf="selectedCategory && selectedCategory.id == category.id" name="checkmark-outline"></ion-icon>
      </ion-item>
    </ion-radio-group>

  </ion-list>
</ion-content>
