:host {
  background: var(--background-color-1);
}

ion-input {
  text-align: end;
  --placeholder-color: white;
  --placeholder-font-size: 2rem;

  &::placeholder {
    color: white;
  }
}

.category-add {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background: var(--background-color-1);
  z-index: 2;

  ion-icon {
    width: 24px;
    height: 24px;
    color: var(--button-content-color-1);
  }
}

ion-icon {
  color: var(--button-content-color-1);
}
.categories{
  ion-item{
    --border-style:none;
  }
  .picked{
    --background-color: red;
  }
}

.categories {

  ion-item {
    --border-style:none;
  }
}

.amount-item {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-around !important;
  width: 100% !important;
  padding: 0 !important;
  margin-right: 16px !important;

  .amount-input {
    width: 100% !important;
    padding: 0 !important;
    display: flex !important;
    text-align: center !important;
    font-size: 2rem;
    color: white;
    border: none !important;
    padding-left: 16px !important;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &::placeholder {
      font-size: 2rem;
      color: white;
    }

    &:active,
    &:focus,
    &:hover {
      border: none !important;
      outline: none !important;
    }
  }
}



