<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="danger" (click)="cancel()">{{ 'general.actions.cancel' | translate }}</ion-button>
    </ion-buttons>
    <ion-title>{{ 'editSpendingModal.title' | translate }}</ion-title>
    <ion-buttons *ngIf="type!==actionsEnum.Add" slot="end">
      <ion-button (click)="confirm()" [disabled]="!formGroup?.valid">{{ 'general.actions.confirm' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="formGroup" class="ion-padding">
  <ion-list [formGroup]="formGroup">
    <!-- <ion-item *ngIf="type === actionsEnum.Edit || isAmountChangeable"> -->
    <ion-item >
      <ion-label>{{ 'editSpendingModal.amount' | translate }}</ion-label>
      <ion-input
        class="ion-text-right"
        formControlName="amount"
        maxlength="15"
        type="tel"
        mrCurrencyMask
        [placeholder]="(currency$ | async) + '0.00'"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'editSpendingModal.description' | translate }}</ion-label>
      <ion-input
        formControlName="description"
        [placeholder]="'editSpendingModal.descriptionPlaceholder' | translate"
      ></ion-input>
    </ion-item>

    <ion-item [button]="true" (click)="addCategory()">
      <ion-label >
        Create new category:
      </ion-label>
        <ion-icon name="add"></ion-icon>
    </ion-item>

    <!-- <ion-item>
      <ion-label class="select-label">{{ 'editSpendingModal.category' | translate }}</ion-label>
      <ion-select
        class="select-selector"
        interface="action-sheet"
        [placeholder]="'editSpendingModal.selectCategoryPlaceholder' | translate"
        name="category"
        formControlName="category"
        [selectedText]="formGroup.value.category?.name"
      >
      <ng-container *ngFor="let category of categories">
        <ion-icon [name]="category.icon.iconType" [style.color]="category.icon.background" startIcon></ion-icon>
        <ion-select-option [value]="category">
          {{ category.name }}
        </ion-select-option>
      </ng-container>
        
      </ion-select>
      
      
    </ion-item> -->
    

    

    <ion-radio-group value="strawberries" formControlName="category">
      <ion-item *ngFor="let category of categories" [button]="true" (click)="selectCategory(category)">
        <ion-icon slot="start" [name]="category.icon.iconType" [style.color]="category.icon.background"></ion-icon>
        <ion-label>{{category.name}}</ion-label>
        <!-- <ion-radio slot="end" value="grapes" [value]="category"></ion-radio> -->
      </ion-item>
    </ion-radio-group>

  </ion-list>
</ion-content>
