<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'settings.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" scroll-y="false">
  <ion-list class="settings-list">
    <ion-list>
      <ion-item mode="ios" class="settings-item">
        <ion-label>{{ 'pages.selectLanguage' | translate }}</ion-label>
        <ion-select interface="action-sheet" [placeholder]="'pages.selectLanguagePlaceholder' | translate"
          [formControl]="languageControl" (ngModelChange)="languageChange($event)">
          <ion-select-option *ngFor="let item of languageList" [value]="item">
            {{ 'language.' + item | translate }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <app-settings-item icon="list" [text]="'settings.categoryManagement' | translate"
        (click)="categoryManagementOpen()">
      </app-settings-item>

      <app-settings-item icon="card-outline" [text]="'settings.monoAccSettings' | translate"
        (click)="monoAccSettingsOpen()">
      </app-settings-item>

      <app-settings-item icon="newspaper-outline" [text]="'settings.privacyNotice' | translate"
        (click)="privacyNoticeModal()">
      </app-settings-item>

      <app-settings-item icon="mail-outline" [text]="'settings.supportService' | translate"
        (click)="window.open(this.supportUrl, '_support');">
      </app-settings-item>
    </ion-list>

    <ion-list>
      <app-settings-item icon="log-out-outline" color="danger" [text]="'pages.logOut' | translate"
        (click)="logOut()">
      </app-settings-item>
    </ion-list>
  </ion-list>
</ion-content>