<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'settings.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" scroll-y="false">
  <ion-list>
    <ion-item>
      <ion-label>{{ 'pages.selectLanguage' | translate }}</ion-label>
      <ion-select
        interface="popover"
        [placeholder]="'pages.selectLanguagePlaceholder' | translate"
        [formControl]="languageControl"
        (ngModelChange)="languageChange($event)"
      >
        <ion-select-option *ngFor="let item of languageList" [value]="item">
          {{ 'language.' + item | translate }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item (click)="categoryManagementOpen()">
      <ion-label>{{ 'settings.categoryManagement' | translate }}</ion-label>
      <ion-icon name="list"></ion-icon>
    </ion-item>

    <ion-item (click)="monoAccSettingsOpen()">
      <ion-label>{{ 'settings.monoAccSettings' | translate }}</ion-label>
      <ion-icon name="card-outline"></ion-icon>
    </ion-item>

    <ion-item (click)="changeEmailPasswordModal(userEditEnum.Email)">
      <ion-label>{{ 'settings.changeEmail' | translate }}</ion-label>
      <ion-icon name="at-outline"></ion-icon>
    </ion-item>

    <ion-item (click)="changeEmailPasswordModal(userEditEnum.Password)">
      <ion-label>{{ 'settings.changePass' | translate }}</ion-label>
      <ion-icon name="key-outline"></ion-icon>
    </ion-item>

    <ion-item (click)="logOut()">
      <ion-label>{{ 'pages.logOut' | translate}}</ion-label>
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
