<div class="main-wrapper">
  <ion-row>
    <div>
      <div *ngIf="showIcon" class="icon-wrapper" [style.background-color]="background">
        <ion-icon slot="icon-only" [name]="icon"></ion-icon>
      </div>
      <ion-label>
        <p *ngIf="isSpendingModel(spending) && showCategory" class="category-name">{{ spending.category?.name }}</p>
        <p class="category-description">{{ spending.description }}</p>
        <p *ngIf="type === listItemTypeEnum.bankTransaction">{{ spending.date | date: 'MMM d, HH:mm' }}</p>
      </ion-label>
    </div>
    <ion-label>{{ currency }} {{ spending.amount | mrMoneyFormat }}</ion-label>
  </ion-row>
</div>
