.main-wrapper {
  height: 60px;
  width: 100%;
  border-radius: 30px;
  background-color: var(--background-color-1);

  ion-row {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 18px 0 12px;

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;

      ion-label {
        max-width: 140px;
        max-height: 52px;

        .category-name {
          color: var(--text-color-white);
          font-weight: 600;
        }

        .category-description {
          display: block;
          max-width: 190px;
          max-height: 33px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis "...";
        }
      }
    }
  }
}

.main-wrapper.selected {
  border: 2px solid var(--button-content-color-1);
}
