<div class="main-wrapper" [class.selected]="selected">
  <ion-row>
    <div>
      <app-icon *ngIf="showIcon" [iconName]="icon" [backgroundColor]="background"></app-icon>
      <ion-label>
        <p *ngIf="type === listItemTypeEnum.bankTransaction">{{ moment.utc(spending.date).local().format(DateFormatEnum.MMM__D__HH_mm) }}</p>
        <p *ngIf="type !== listItemTypeEnum.bankTransaction">{{ moment.utc(spending.date).local().format(DateFormatEnum.MMM__D__HH_mm) }}</p>
        <p *ngIf="(type === listItemTypeEnum.spending)" class="category-description">{{ spending.description}}</p>
      </ion-label>
    </div>
    <ion-label>{{ currency }} {{ spending.amount | mrMoneyFormat }}</ion-label>
  </ion-row>
</div>
