.main-wrapper {
  height: 60px;
  width: 100%;
  border-radius: 30px;
  background-color: var(--background-color-1);

  ion-row {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 18px 0 12px;

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;

      .icon-wrapper {
        height: 38px;
        width: 38px;
        border-radius: 22px;
        padding-left: 6px;

        ion-icon {
          height: 26px;
          width: 26px;
          color: var(--spending-icon-color);
        }
      }

      ion-label {
        max-width: 190px;
        max-height: 52px;

        .category-name {
          color: var(--text-color-white);
          font-weight: 600;
        }

        .category-description {
          max-width: 190px;
          max-height: 33px;
          overflow: hidden;
        }
      }
    }
  }
}
