<div class="main-wrapper">
  <ion-row>
    <div>
      <div class="icon-wrapper" [style.background-color]="spending.icon.background || '#FFF'">
        <ion-icon slot="icon-only" [name]="spending.icon.iconType"></ion-icon>
      </div>
      <ion-label>
        <p>{{ spending.category }}</p>
        <p>{{ spending.description }}</p>
        <p>{{ spending.date | date: 'MMM d, HH:mm' }}</p>
      </ion-label>
    </div>
    <ion-label>{{ currency }} {{ spending.amount | mrMoneyFormat }}</ion-label>
  </ion-row>
</div>
