:host {
  background: var(--page-background);
}

.input-item{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
  .eye{
    padding-top: 15px;
    color: white;
  }
}
