:host {
  background: var(--page-background);
}

ion-input {
  // --background: var(--page-background);
  background-color: transparent !important;
}

.sign-up-btn {
  color: var(--button-content-color-1);
  border: 1px solid var(--button-content-color-1);
  border-radius: 64px;
  --background-activated: none;
  --background-focused: none;
  --background-hover: none;
  --ripple-color: transparent;
}

.btns{
  width: 100%;
  display: flex;
  justify-content: space-between;
  .btn{
    width: 40%;
  }
}