/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

body {
  background: var(--page-background);
  background-position: top right, 0 0;
  background-repeat: no-repeat, repeat;
}

* {
  --background: transparent;
  background: transparent;
}

ion-modal, ion-popover {
  z-index: 997 !important;
}

.list-ios {
  background: transparent;
}

.list-md {
  background: transparent;
}

ion-header::after {
  content: none !important;
}

ion-toolbar {
  --border-width: 0 !important;
}

.button-solid {
  --box-shadow: none;
}

input::placeholder {
  font-size: 14px;
}

.alert-wrapper {
  background: var(--page-background) !important;
  border: 1px solid var(--ion-color-medium-shade);
  border-radius: 16px !important;
}

ion-alert.select-alert {
  backdrop-filter: blur(6px);

  .alert-wrapper {
    background: var(--background-color-5);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: var(--modal-shadow);
  }
}

ion-popover.select-popover {
  backdrop-filter: blur(6px);

  .popover-viewport {
    background: var(--background-color-5);
  }
}

ion-action-sheet {

  ion-backdrop {
    background: var(--backdrop-background);
  }

  .action-sheet-container {

    .action-sheet-group {
      background-color: var(--background-color-1);

      .action-sheet-title {
        font-size: 16px;
        color: var(--text-color-gray);
        padding-bottom: 8px;
      }

      .action-sheet-button {
        --button-background-selected: transparent;
      }
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  background-color: transparent !important;
  border: none !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

ion-button ion-label {
  text-transform: none !important;
}

.fullscreen {
  --width:100% !important;
  --height:100% !important;
  width:100% !important;
  height:100% !important;
}
