<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      {{ 'auth.signIn' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true" [formGroup]="formGroup" scroll-y="false">
  <ion-list class="ion-margin-vertical">
    <ion-item class="input-item">
      <ion-label position="floating">{{ 'auth.email' | translate }}</ion-label>
      <ion-input
        formControlName="email"
        [placeholder]="'auth.emailPlaceholder' | translate"
        type="email"
      ></ion-input>
    </ion-item>

    <ion-item class="input-item">
      <ion-icon 
        *ngIf="!showPassword" 
        name="eye-outline" 
        slot="end"  
        size="small" 
        class="ion-margin-end eye" 
        (click)="toggleShowPassword()">
      </ion-icon>
      <ion-icon 
        *ngIf="showPassword" 
        name="eye-off-outline" 
        slot="end"  
        size="small" 
        class="ion-margin-end eye" 
        (click)="toggleShowPassword()">
      </ion-icon>
      <ion-label position="floating">{{ 'auth.password' | translate }}</ion-label>
      <ion-input
        formControlName="password"
        [type]="showPassword ? 'text' : 'password'"
      ></ion-input>
      
    </ion-item>
  </ion-list>

  <ion-row class="ion-padding btns">
    <ion-button
      shape="round"
      (click)="goToSignUp()"
      class="btn"
    >
      {{ 'auth.goToSignUp' | translate }}
    </ion-button>
    <ion-button
      shape="round"
      class="ion-margin-start sign-in-btn btn"
      [disabled]="formGroup.invalid"
      (click)="signIn()"
    >
      {{ 'auth.signIn' | translate }}
    </ion-button>
  </ion-row>

  <ion-row *ngIf="!platform.is('mobile')" class="ion-padding btns">
    <ion-button 
      shape="round" 
      class="btn google"  
      (click)="signInWithGoogle()">
      <ion-icon slot="start" name="logo-google"></ion-icon>
      {{ 'auth.signInGoogle' | translate }}
    </ion-button>
  </ion-row>
</ion-content>
