<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      {{ 'auth.signIn' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [formGroup]="formGroup">
  <ion-list class="ion-margin-vertical">
    <ion-item>
      <ion-label>{{ 'auth.email' | translate }}</ion-label>
      <ion-input formControlName="email" placeholder="Type your email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'auth.password' | translate }}</ion-label>
      <ion-input formControlName="password" [type]="showPassword ? 'text' : 'password'"></ion-input>

      <ion-icon *ngIf="!showPassword" name="eye-outline" size="small" class="ion-margin-end" (click)="toggleShowPassword()"></ion-icon>
      <ion-icon *ngIf="showPassword" name="eye-off-outline" size="small" class="ion-margin-end" (click)="toggleShowPassword()"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-row class="ion-padding">
    <ion-button shape="round" fill="outline" (click)="goToSignUp()">{{ 'auth.goToSignUp' | translate }}</ion-button>
    <ion-button shape="round" fill="solid" class="ion-margin-start" [disabled]="formGroup.invalid" (click)="signIn()">{{ 'auth.signIn' | translate }}</ion-button>
  </ion-row>
</ion-content>
