<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      {{ 'auth.signIn' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [formGroup]="formGroup" scroll-y="false">
  <ion-list class="ion-margin-vertical">
    <ion-item>
      <ion-label position="floating">{{ 'auth.email' | translate }}</ion-label>
      <ion-input
        formControlName="email"
        [placeholder]="'auth.emailPlaceholder' | translate"
        type="email"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ 'auth.password' | translate }}</ion-label>
      <ion-input
        formControlName="password"
        [type]="showPassword ? 'text' : 'password'"
      ></ion-input>
      <ion-icon *ngIf="!showPassword" name="eye-outline" slot="end" size="small" class="ion-margin-end" (click)="toggleShowPassword()"></ion-icon>
      <ion-icon *ngIf="showPassword" name="eye-off-outline" slot="end" size="small" class="ion-margin-end" (click)="toggleShowPassword()"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-row class="ion-padding btns">
    <ion-button
      shape="round"
      fill="outline"
      (click)="goToSignUp()"
      class="btn"
    >
      {{ 'auth.goToSignUp' | translate }}
    </ion-button>
    <ion-button
      shape="round"
      class="ion-margin-start sign-in-btn btn"
      [disabled]="formGroup.invalid"
      (click)="signIn()"
    >
      {{ 'auth.signIn' | translate }}
    </ion-button>
  </ion-row>
</ion-content>
