<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-label color="primary">{{ 'general.actions.back' | translate }}</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'settings.monoAccSettings' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" scroll-y="false">
  <ion-list class="account-management">
    <div *ngIf="!isMonoAccSettingOpened" class="account">
      <ion-button *ngIf="!monoToken" (click)="openMonoTokenPage()" slot="start">
        <ion-icon name="add-outline"></ion-icon>
        <ion-label>&nbsp;{{ 'settings.setAcc' | translate }}</ion-label>
      </ion-button>

      <ion-button *ngIf="monoToken" (click)="openMonoTokenPage()" slot="start">
        <ion-icon name="arrow-redo-outline"></ion-icon>
        <ion-label>&nbsp;{{ 'settings.changeAcc' | translate }}</ion-label>
      </ion-button>

      <ion-button *ngIf="monoToken" (click)="forgetMonoToken()" slot="end">
        <ion-icon name="trash-outline" color="danger"></ion-icon>
        <ion-label color="danger">&nbsp;{{ 'settings.forgetAcc' | translate }}</ion-label>
      </ion-button>
    </div>

    <ion-item *ngIf="isMonoAccSettingOpened" class="token">
      <ion-input [formControl]="tokenInput" [placeholder]="'settings.inputToken' | translate"></ion-input>

      <ion-button [disabled]="!this.tokenInput.value" (click)="setMonoToken()">
        <ion-icon name="add-outline"></ion-icon>
        &nbsp;{{ 'general.actions.add' | translate }}
      </ion-button>

      <ion-button (click)="resetSettingToken()">
        <ion-icon name="close-outline" color="danger"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-button *ngIf="monoToken" [disabled]="isUpdateCardsForbidden" (click)="updateCardList()" class="update-btn">
    <ion-icon *ngIf="!isUpdateCardsForbidden" name="sync-outline"></ion-icon>
    <ion-label *ngIf="isUpdateCardsForbidden">{{ timeToUpdate }}</ion-label>
    <ion-label>&nbsp;{{ 'settings.updateCardList' | translate }}</ion-label>
  </ion-button>

  <ion-list *ngIf="availableCards$ | async as availableCards" class="card-management">
    <p *ngIf="availableCards.length">{{ 'settings.cardsForTracking' | translate }}</p>
    <div class="page-delimiter"></div>
    <div class="card-list">
      <div
        class="card"
        *ngFor="let card of availableCards"
        [style.border-color]="isCardSelected(card) ? 'var(--ion-color-success-shade)' : 'var(--color-gray-2)'"
        (click)="cardClick(card)"
      >
        <span class="card-checked-marker" [style.display]="isCardSelected(card) ? 'block' : 'none'">
          <ion-icon name="star-outline"></ion-icon>
        </span>

        <img class="card-image" src="../../../../assets/image/mono-cards/{{ card.type }}.png" alt="card-picture">

        <div [class]="'card-text-content' + ' ' + card.type">
          <p class="card-number">{{ card.maskedPan[0] | bankCardFormat }}</p>
          <p class="card-currency">{{ 'settings.currency' | translate }}: {{ currencyCodesEnum[card.currencyCode] }}</p>
        </div>
      </div>
    </div>
  </ion-list>
</ion-content>
